html,
body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  font-family: 'Pretendard Variable', 'Pretendard', 'Roboto';
  --colors-yellow: #ffdc23;
  --colors-heart: #ff508f;
  --colors-orange: #ff9f1c;
  --colors-violet: #745aff;
  --colors-mint: #00c2b7;
  --colors-white: #ffffff;
  --colors-black: #000000;
  --colors-twitter: #1da1f2;
}

p {
  margin: 0;
  padding: 0;
}

.pt-50-percent {
  padding-top: 50%;
}

.pb-50-percent {
  padding-bottom: 50%;
}

.max-line-3 {
  display: -webkit-box;
  word-wrap: break-word;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.max-line-4 {
  display: -webkit-box;
  word-wrap: break-word;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

section.emoji-mart {
  width: 100% !important;
}

div.emoji-mart-scroll {
  height: 400px;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.max-height-70 {
  max-height: 70vh;
}

.min-height-70 {
  min-height: 70vh;
}

.min-height-50 {
  min-height: 50vh;
  max-height: 80vh;
}

.modal-body-height-50 {
  overflow: scroll;
  max-height: calc(80vh - 4rem);
}

.-bottom-full {
  bottom: -100%;
}

.bg-tab {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.15) 50%);
}

@keyframes rainbow-button {
  0%,
  100% {
    background-color: #1da1f2;
  }
  20% {
    background-color: #00c2b7;
  }
  40% {
    background-color: #ff9533;
  }
  60% {
    background-color: #ff508f;
  }
  80% {
    background-color: #745aff;
  }
}

h1,
h2,
h3,
h4 {
  font-family: Nunito;
}

.emoji-mart-emoji {
  display: block !important;
}

svg {
  flex-shrink: 0;
}

.min-h-200 {
  min-height: 200rem;
}

.thumbnail-shadow {
  box-shadow: 0px 6px 12px rgba(79, 79, 79, 0.12);
}

.border-3 {
  border-width: 3px;
}

.text-h1 {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
}

.text-h3 {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-size: 17px;
  line-height: 23px;
}

.text-h4 {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
}

.text-caption-tiny {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.text-caption-bold {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
}

.text-p2-reg {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
}

.bg-gray1 {
  background-color: #1d1d1f;
}
