html,
body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  font-family: Roboto;
  --colors-yellow: #ffdc23;
  --colors-heart: #ff508f;
  --colors-orange: #ff9f1c;
  --colors-violet: #745aff;
  --colors-mint: #00c2b7;
  --colors-white: #ffffff;
  --colors-black: #000000;
  --colors-twitter: #1da1f2;
}

p {
  margin: 0;
  padding: 0;
}

.pt-50-percent {
  padding-top: 50%;
}

.pb-50-percent {
  padding-bottom: 50%;
}

.max-line-3 {
  display: -webkit-box;
  word-wrap: break-word;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

section.emoji-mart {
  width: 100% !important;
}

div.emoji-mart-scroll {
  height: 400px;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.min-height-70 {
  min-height: 70vh;
}
